

/*  
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Mono', monospace;
*/

/* The brit hemming reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid gray;
}


/*general styles  */

html {
    font-size: 62.5%; /*1 rem === 10px and it gives the user control of the font size from the browser*/
  }
  
  body {
    font-family: 'Noto Serif', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4f4f4f;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;
  }
  
  a {
    color: #4f4f4f;
    text-decoration: none;
    letter-spacing: 3px;
  }
  
  section{
    padding: 4% 0;
  }
  
  /*Website styles go under here by section  */

  nav .plan {
    background-color: #FF764E;
  }

  nav .learn {
    background-color: #5ED3EB;
  }

  nav .involved {
    background-color: #FFCD69;
  }

  h1 {
    font-family: 'Chelsea Market', cursive;
  }

  .description {
    background-color: #DDB9A3;
  }

  footer {
      background-color: #F9E7DC;
  }